#opciones-del-usuario {
    display: grid;
    place-content: center;
    margin: 10px;
}

#detalle-usuario-eleccion {
    display: grid;
    place-content: center;
    background-color: rgb(174, 218, 243);
    width: 500px;
    margin-left: 700px;
    color: rgba(59, 35, 28, 0.699);
    border-radius: 7px;
}


img {
    width: 100px;
    margin-left: 20px;
}

#producto-muestra {
    display: flex;
    width: 20px;

}

#cada-producto {
    display: inline;
}

#rojo {
    background-color: red;
}

#amarillo {
    background-color: yellow;
}

p{
    font-family: monospace;
    color: black;
    font-size: large;
}

#producto-muestra{
    font-family: monospace;
    font-size: small;
}